.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  background: var(--secondary-secondary-container);
  color: var(--secondary-secondary);
  font-family: var(--font-sans);
  font-weight: var(--fw-bold);
  --icon-size: 24px;
}

.size_small {
  width: 24px;
  height: 24px;
  --icon-size: 12px;
  font-size: 12px;
}
.size_medium {
  width: 40px;
  height: 40px;
  --icon-size: 24px;
  font-size: 14px;
}
.size_large {
  width: 56px;
  height: 56px;
  --icon-size: 32px;
  font-size: 18px;
}
.size_xlarge {
  width: 80px;
  height: 80px;
  --icon-size: 48px;
  font-size: 24px;
}

.img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.initials {
  z-index: 1;
  line-height: 1;
  background-image: linear-gradient(
    to left,
    var(--secondary-secondary),
    var(--secondary-secondary-gradient)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  display: inline-block;
  z-index: 1;
}
