/* globals.css */

@import "./tokens.css";

main {
  padding-top: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: var(--font-sans);
  background: var(--surface-background);
  color: var(--text-primary);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.layoutContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-height: 100%;
}

.page {
  padding-top: var(--header-height);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-family: inherit;
}
