/* Font Faces */

@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSansXFaNum";
  src: url("/fonts/IRANSansXFaNum-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Typography Tokens */
  --font-sans: "IRANSansXFaNum", ui-sans-serif, system-ui, -apple-system,
    "Segoe UI", Roboto, "Helvetica Neue", Arial;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extrabold: 800;

  /* Labels */
  --fs-label-16: 1rem;
  --lh-label-16: 1.25rem;
  --fs-label-14: 0.875rem;
  --lh-label-14: 1rem;
  --fs-label-12: 0.75rem;
  --lh-label-12: 0.875rem;
  --fs-label-10: 0.625rem;
  --lh-label-10: 0.75rem;

  /* Paragraphs */
  --fs-body-16: 1rem;
  --lh-body-16: 1.5rem;
  --fs-body-14: 0.875rem;
  --lh-body-14: 1.25rem;
  --fs-body-12: 0.75rem;
  --lh-body-12: 1rem;

  /* Titles */
  --fs-title-14: 0.875rem;
  --lh-title-14: 1.125rem;
  --fs-title-16: 1rem;
  --lh-title-16: 1.375rem;
  --fs-title-18: 1.125rem;
  --lh-title-18: 1.5rem;

  /* Headings */
  --fs-heading-40: 2.5rem;
  --lh-heading-40: 3.25rem;
  --fs-heading-32: 2rem;
  --lh-heading-32: 2.75rem;
  --fs-heading-24: 1.5rem;
  --lh-heading-24: 2.25rem;

  --fs-heading-18: 1.125rem;
  --lh-heading-18: 1.5rem;
  --fw-heading-18-bold: var(--fw-bold);
  --fw-heading-18-extrabold: var(--fw-extrabold);

  /* Color Tokens */

  --surface-background: #ffffff;
  --surface-neutral-high-emphasis: #010101;
  --surface-neutral-low-emphasis: #757575;
  --surface-neutral-mid-emphasis: #4e4e52;
  --surface-surface: #f5f5f5;
  --surface-surface-dim: #eaeaea;
  --surface-surface-scrim: #0000004d;
  --surface-surface-soft: #fafafa;

  --primary-on-primary: #ffffff;
  --primary-on-primary-container: #174933;
  --primary-primary: #00874d;
  --primary-primary-container: #e7fff4;
  --primary-primary-gradient: #00ca73;

  --secondary-on-secondary: #ffffff;
  --secondary-on-secondary-container: #36064a;
  --secondary-secondary: #600487;
  --secondary-secondary-container: #f8e9ff;
  --secondary-secondary-gradient: #8030a2;

  --border-border-error: #e81616;
  --border-border-high-emphasis: #cbcbcb;
  --border-border-low-emphasis: #eaeaea;
  --border-border-mid-emphasis: #e0e0e0;

  --disable-disable: #cbcbcb;
  --disable-disable-container: #f5f5f5;
  --disable-on-disable: #757575;
  --disable-on-disable-container: #757575;

  --success-on-success: #ffffff;
  --success-on-success-container: #085705;
  --success-success: #12870e;
  --success-success-container: #e1f9e0;

  --error-error: #c62222;
  --error-error-container: #ffe4e4;
  --error-on-error: #ffffff;
  --error-on-error-container: #860000;

  --information-information: #0076dc;
  --information-information-container: #f0f2ff;
  --information-on-information: #ffffff;
  --information-on-information-container: #004c8e;

  --warning-on-warning: #ffffff;
  --warning-on-warning-container: #c64204;
  --warning-warning: #f04c00;
  --warning-warning-container: #fff4ed;

  /* Semantic text aliasesx */
  --text-primary: var(--surface-neutral-high-emphasis);
  --text-secondary: var(--surface-neutral-mid-emphasis);

  /* Radius Tokens */
  --radius-none: 0rem;
  --radius-xxs: 0.25rem;
  --radius-xs: 0.375rem;
  --radius-s: 0.5rem;
  --radius-m: 0.75rem;
  --radius-l: 1rem;
  --radius-xl: 1.5rem;
  --radius-xxl: 2rem;
  --radius-rounded: 62.4375rem;

  /* Space Tokens */
  --space-0: 0rem;
  --space-1: 0.0625rem;
  --space-2: 0.125rem;
  --space-4: 0.25rem;
  --space-6: 0.375rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-18: 1.125rem;
  --space-20: 1.25rem;
  --space-22: 1.375rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-40: 2.5rem;
  --space-48: 3rem;
  --space-56: 3.5rem;
  --space-64: 4rem;
  --space-72: 4.5rem;
  --space-80: 5rem;
  --space-88: 5.5rem;
  --space-96: 6rem;
  --space-104: 6.5rem;
  --space-128: 8rem;
}
