.root {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

/* --- Divider --- */
.divider {
  height: 1px;
  background-color: var(--border-border-low-emphasis);
}

.divider.withPadding {
  width: calc(100% - 32px);
  margin-inline: 16px;
}

/* --- Spacer --- */
.spacer {
  width: 100%;
  height: 8px;
  background-color: var(--surface-surface);
}

@media (min-width: 1024px) {
  .spacer {
    height: var(--space-16);
    background-color: var(--surface-background);
  }
}
