.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-24) var(--space-16) var(--space-16);
  background: var(--surface-background);
  gap: var(--space-16);
}

.content {
  display: grid;
  gap: var(--space-4);
  min-width: 0;
}

.titleRow {
  display: inline-flex;
  align-items: center;
  gap: var(--space-8);
  min-width: 0;
}

.title {
  all: unset;
  color: var(--surface-neutral-high-emphasis);
  font-family: var(--font-sans);
  font-size: var(--fs-title-16);
  line-height: var(--lh-title-16);
  font-weight: var(--fw-bold);
}

.subtitle {
  color: var(--surface-neutral-mid-emphasis);
  font-family: var(--font-sans);
  font-size: var(--fs-label-12);
  line-height: var(--lh-label-12);
  word-break: break-word;
}

.labelSlot {
  display: inline-flex;
  align-items: center;
}

.leftSlot {
  display: inline-flex;
  align-items: center;
  gap: var(--space-8);
  flex-shrink: 0;
}

@media (min-width: 580px) {
  .title {
    font-size: var(--fs-title-18);
    line-height: var(--lh-title-18);
  }
  .subtitle {
    font-size: var(--fs-body-14);
    line-height: var(--lh-body-14);
  }
}
