.carousel {
  padding-block: 0 var(--space-16);
  background: var(--surface-background);
}

.slide {
  width: 150px;
  flex-shrink: 0;
  margin-left: 12px;
}
.slide:last-child {
  margin-left: 0;
}

.anchor {
  display: block;
  text-decoration: none;
  color: inherit;
}

@media (min-width: 864px) {
  .slide {
    width: auto;
  }
}

@media (min-width: 1026px) {
  .carousel {
    padding-inline: var(--space-16);
  }
}
